{% extends "base.html" %}
{% block title %}Jenis Kucing{% endblock %}
{% block content %} 
{% with messages = get_flashed_messages(with_categories=true) %} 
  {% if messages %} 
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <div>{{ message }}</div>
      </div>
    {% endfor %} 
  {% endif %}
{% endwith %}
<h1
  style="
    color: #ff6f61;
    font-family: 'Caveat', cursive;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
  "
>
  Jenis-Jenis Kucing
</h1>
<div class="row justify-content-center">
  {% for cat in cats %}
  <div class="col-md-4 text-center mb-4">
    <img
      src="{{ url_for('static', filename='upload/' + cat[3]) }}"
      class="img-fluid rounded-circle shadow"
      alt="{{ cat[1] }}"
    />
    <h3 class="mt-3">{{ cat[1] }}</h3>
    <p>{{ cat[2] }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
