{% extends "base.html" %}
{% block title %}Tambah Data{% endblock %}
{% block content %} 
{% with messages = get_flashed_messages(with_categories=true) %} 
  {% if messages %} 
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <div>{{ message }}</div>
      </div>
    {% endfor %} 
  {% endif %}
{% endwith %}
<a href="/create" type="button" class="btn btn-mycolor">Tambahkan Data</a>
<table class="table table-bordered table-striped mt-2">
  <thead>
    <tr>
      <th scope="col">Nama</th>
      <th scope="col">Deskripsi</th>
      <th scope="col">Foto</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for cat in cats %}
    <tr>
      <td>{{ cat[1] }}</td>
      <td>{{ cat[2] }}</td>
      <td>
        <a
          href="{{ url_for('static', filename='upload/' + cat[3]) }}"
          target="_blank"
          rel="noopener noreferrer"
          >{{ url_for('static', filename='upload/' + cat[3]) }}</a
        >
      </td>
      <td>
        <a href="/update/{{ cat[0] }}" type="button" class="btn btn-primary"
          >Edit</a
        >
        <form action="/delete/{{ cat[0] }}" method="post" class="d-inline">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
